
<section id='main' class='w-full h-screen grid place-items-center'>
	<div id='title' class='w-4/5 ease-linear transition-all duration-300 md:w-1/2 h-56 grid place-items-center backdrop-blur-sm rounded-sm bg-[#0009] hover:shadow-xl hover:shadow-[#0006]'>
		<h1 class='text-6xl text-white font-playflair md:text-9xl font-bold text-center'>Solutareas</h1>
	</div>
</section>

<script is:inline>
  const el = document.getElementById('title')
  const height = el.clientHeight
  const width = el.clientWidth

  el.addEventListener('mousemove', (e) => {
  	const { layerX, layerY } = e

  	const yRotation = ((layerX - width / 2) / width) * 20
  	const xRotation = ((layerY - height / 2) / height) * 20

  	el.style.transform = `rotateX(${xRotation}deg) perspective(500px) scale(1.1) rotateY(${yRotation}deg)`
  })

  el.addEventListener('mouseleave', () => {
  	el.style.transform = 'perspective(500px) rotateX(0) rotateY(0) scale(1)'
  })
</script>