---
import OurMember from '../OurMember.astro'
---

<section id='about' class='w-full h-screen grid place-items-center'>
	<div class='flex flex-row w-[50%] bg-[#0009] rounded-lg justify-center'>
		<div>
			<OurMember name='Ingeniero Industrial' />
			<OurMember name='Ingeniero Civil' />
			<OurMember name='Ingeniero Ambiental' />
			<OurMember name='Ingeniero Químico' />
		</div>
		<div>
			<OurMember name='Biólogo' />
			<OurMember name='Economista' />
			<OurMember name='Contador público' />
			<OurMember name='Administrador de empresas' />
		</div>
	</div>
</section>