---
import OurMember from '../OurMember.astro'
---


<section class='w-full h-[30%] flex justify-center '>
	<div class='flex flex-row ... w-[50%] bg-[#0009] rounded-lg justify-center ...'>
		<div class='flex flex-col ... justify-start'>
			<OurMember name='Ingeniero Industrial' />
			<OurMember name='Ingeniero Civil' />
			<OurMember name='Ingeniero Ambiental' />
			<OurMember name='Ingeniero Químico' />
		</div>
		<div class=''>
			<OurMember name='Biólogo' />
			<OurMember name='Economista' />
			<OurMember name='Contador público' />
			<OurMember name='Administrador de empresas' />
		</div>
	</div>

</section>