---
import TopicCard from '../TopicCard.astro'
---

<section id='topics' class='w-full grid place-items-center'>
	<div class='flex flex-wrap h-full justify-center w-full'>
		<TopicCard
			img={'mat.webp'}
			title='Matemáticas'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'economia.webp'}
			title='Economía'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'fisic.webp'}
			title='Física'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'biology.webp'}
			title='Biología'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'mat.webp'}
			title='Matemáticas'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'mat.webp'}
			title='Matemáticas'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'mat.webp'}
			title='Matemáticas'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
		<TopicCard
			img={'mat.webp'}
			title='Matemáticas'
			description='Derivadas, integrales, ecuaciones diferenciales, límites, etc...'
		/>
	</div>
</section>