---
import Link from './Link.astro'
---

<nav class='w-screen z-10 fixed backdrop-blur-sm bg-[#0008]'>
	<ul class='max-w-2xl w-full text-white mx-auto flex justify-center gap-4 md:gap-10 py-5 font-bold text-sm sm:text-sm md:text-xl font-playflair'>
		<Link href={'#main'} name='Inicio' />
		<Link href={'#topics'} name='Temáticas' />
		<Link href={'#about'} name='Sobre nosotros' />
		<Link href={'#contact'} name='Contacto' />
	</ul>
</nav>
