<nav class='w-screen fixed backdrop-blur-sm'>
	<ul class='max-w-xl w-full mx-auto flex justify-center gap-7 md:gap-10 py-5 font-bold text-md font-playflair'>
		<li>
			<a href='#top'>Inicio</a>
		</li>
		<li>
			<a href='#'>Temáticas</a>
		</li>
		<li>
			<a href='#'>Sobre nosotros</a>
		</li>
		<li>
			<a href='#'>Contacto</a>
		</li>
	</ul>
</nav>

<style>
  li:hover {
    transform: scale(1.1);
  }
</style>