---
import Link from './Link.astro'
---

<nav class='w-screen fixed backdrop-blur-sm bg-[#0008]'>
	<ul class='max-w-xl w-full text-white mx-auto flex justify-center gap-7 md:gap-20 py-5 font-bold text-lg font-playflair'>
		<Link href={'#main'} name='Inicio' />
		<Link href={'#topics'} name='Temáticas' />
		<Link href={'#about'} name='Sobre nosotros' />
		<Link href={'#contact'} name='Contacto' />
	</ul>
</nav>
