<nav class='w-screen'>
	<ul class='max-w-xl w-full flex justify-center gap-10 py-5'>
		<li>
			<a href='#'>Inicio</a>
		</li>
		<li>
			<a href='#'>Temáticas</a>
		</li>
		<li>
			<a href='#'>Sobre nosotros</a>
		</li>
		<li>
			<a href='#'>Contacto</a>
		</li>
	</ul>
</nav>