---
const { name } = Astro.props
---

<div class='py-2 flex flex-row justify-start content-center'>
	<svg class='text-gray-400' width='10%' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
		<path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z' />
	</svg>
	<div class='py-2 flex justify-center content-center'>
		<h2 class='px-2 text-gray-50'>{name}</h2>
	</div>
</div>